body
{
	padding:5px;
}

table
{
	width: 100%;
	border: 1px solid black;
	table-layout: fixed;
}

table th
{
	font-weight: bold;
	background-color: silver;
}

table td
{
	border: 1px solid black;
	text-align: center;
}
