<%inherit file="layout.html"/>
<%block name="stylesheets">
	<link href="/css/admin.css" rel="stylesheet" />
</%block>
<%block name="javascript">
<script type="text/javascript" src="/static/epiceditor/js/epiceditor.min.js"></script>
<script type="text/javascript">
	var opts = {
		container: 'epiceditor',
		basePath: '/static/epiceditor'
		};
	
	var editor = new EpicEditor(opts).load();
	$('button[name="submit"]').click(function() {
		//var content = editor.getElement('editor').body.innerText;
		var content = editor.exportFile();
		var p = content.indexOf('\n');
		p = (p > 500) 500 : p;
		var intro = content.substr(0, p);
		$('#content').attr('value',content);
		$('#intro').attr('value',intro);
	});

	(function(){
		//editor.getElement('editor').body.innerHTML = $('#content').attr('value');
	 	var content = $('#content').attr('value');
		editor.importFile('', content);
	 })();
</script>
</%block>
<%include file="header.html"/>
<div class="container">
	<div class="sixteen columns">
<form name="create" method="POST">
	<legend>${title}</legend>
	${form.render()}
</form>
</div>
</div>
<%include file="footer.html"/>
