<%!
from lib.markdown2 import markdown

def md_to_html(content):
	'''convert to html using markdown2'''
	if content: 
		content_html = markdown(content)
		return content_html
	else:
		return ''
%>
<%inherit file="layout.html"/>

<div id="site-content" class="row">
	<div class="row container">
	<div class="ten columns">
		<article>
		<h2 class="title">${entry.title}</h2>
		<p class="timestamp"><strong>${entry.timestamp.strftime('%d %B %Y')}</strong></p>
		<ul class="meta-stuff">
			<li>Posted in: <a href="/category/${entry.category_name}">${entry.category_name}</a>.</li>
			<li>Tagged with:
			%for t in range(len(entry.tags)):
			<span>${entry.tags[t]}
			%if t == len(entry.tags)-1:
				.
			%else:
				,
			%endif
			</span>
			%endfor
		</li>
		</ul>
		<div class="content">
			${md_to_html(entry.content)}
		</div>
		<footer>
			<hr/>
		</footer>
		</article>
	</div>
	<div class="four columns offset-by-one nav">
		<%include file="_aside.html" args="categories=categories, e_list=e_list"/>
	</div>
</div>
</div>
