<%!
from lib.markdown2 import markdown

def md_to_html(content):
	'''convert to html using markdown2'''
	if content: 
		content_html = markdown(content)
		return content_html
	else:
		return ''
%>
<%inherit file="layout.html"/>

<div id="site-content" class="row">
<div class="row container" >
	<div class="ten columns"> 
		&nbsp;
	% for e in entries:
		<article>
		<h2 class="title"><a href="/${e.url}">${e.title}</a></h2>
		<p class="timestamp"><strong>${e.timestamp.strftime('%d %B %Y')}</strong></p>
		<ul class="meta-stuff">
			<li>Posted in: <a href="/category/${e.category_name}">${e.category_name}</a>.</li>
			<li>Tagged with:
			%for t in range(len(e.tags)):
			<span>
			%if t == len(e.tags)-1:
				${e.tags[t]+'.'}
			%else:
				${e.tags[t]+','}
			%endif
			</span>
			%endfor
		</li>
		</ul>
		<div class="content">
			${md_to_html(e.intro)}
		</div>
		<footer>
		<hr/>
		</footer>
	</article>
	% endfor
	</div>
	<div class="four columns offset-by-one nav">
		<%include file="_aside.html" args="categories=categories, e_list=e_list"/>
	</div>
</div>
</div>

