body
{
    padding: 0;
    margin: 0;
	background-image: url("/img/debut_light_2X.png");
}

#header
{
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	margin-bottom: 10px;
	z-index: 1;
	background-image: url("/img/debut_light_2X.png");
	border-bottom: 2px solid #EFEFEF;
}

#header h1
{
	position: absolute;
	margin: 40px 0 10px 20px;
}

#header a
{
	text-decoration: none;
	color: black;
}

#social-media 
{
	float: right;
	margin: 65px 20px 0;
}

#social-media img
{
	width: 24px;
}

#site-content
{
	background-image: none;
	background-color: #FDFDFD;
	margin-top: 100px;
	border-bottom: 2px solid #EFEFEF;
	border-top: 2px solid #EFEFEF;
}

#footer
{
	width: 100%;
	margin: 10px 0;
}

.container
{
	margin-top: 20px;
	height: 100%;
	min-height: 100%;
}

small
{
	font-size: small;
}

a, a:visited{
	text-decoration: none;
	color: #1B6F7A;
}

a:hover{
	color: black;
}
