@import url('webfont.css');

body
{
    padding: 0;
    margin: 0;
	background-image: url("/img/debut_light_2X.png");
}

#header
{
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	margin-bottom: 10px;
	z-index: 1;
	background-image: url("/img/debut_light_2X.png");
	border-bottom: 2px solid #EFEFEF;
}

#header h1
{
	position: absolute;
	margin: 40px 0 10px 20px;
}

#header a
{
	text-decoration: none;
}

#site-content
{
	background-image: none;
	background-color: white;
	margin-top: 100px;
	border-bottom: 2px solid #EFEFEF;
	border-top: 2px solid #EFEFEF;
}

#footer
{
	width: 100%;
	margin: 10px 0;
}

.container
{
	margin-top: 20px;
	height: 100%;
	min-height: 100%;
}

article
{
	font-family: 'Computer Modern', serif;
	line-height: 1.5em;
}

article .title
{
	font-size: 2.24em;
	font-weight: bold;
	line-height: 2.4em;
}

article header
{
	margin-bottom: 2em;
	text-align:center;
}

article .content
{
	font-size: 1.07em;
	padding: 5px;
	line-height: 1.5em;
}

form table,input,textarea,select
{
	width: 100%;
}


