@import url('/css/webfont.css');

article
{
	font-family: 'Computer Modern', serif;
	line-height: 1.5em;
}

article .title
{
	font-size: 2.24em;
	font-weight: bold;
}

article header
{
	margin-bottom: 2em;
	text-align:center;
}

article .content
{
	font-size: 1.07em;
	padding: 5px;
	line-height: 1.8em;
}

article .content h4
{
	margin-top: 1em;
}

article .content ul
{
	list-style: circle;
	padding-left: 2em;
}


/*** code block formatting, yanked from http://adis.ca/post/pretty-code-block-in-css/ ***/ 
pre {
    font-size: 90%;
    line-height: 1.5em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 0.5em 0.5em;
    background: #f4f4f4;
    border: solid 1px #e1e1e1;

	margin: 0 0 2em;
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 0.3em 0.3em;
    background: #f4f4f4;
}
/*** end code block formattign ***/
