<%!
from lib.markdown2 import markdown

def md_to_html(content):
	'''convert to html using markdown2'''
	if content: 
		content_html = markdown(content)
		return content_html
	else:
		return ''
%>
<%inherit file="layout.html"/>
<%block name="stylsheet">
	<link href="/css/site.css" rel="stylesheet" />
</%block>

<%include file="header.html"/>

<div class="container">
	<div class="four columns offset-by-one nav">
		<h4>Categories</h4>
		<ul>
		% for c in categories:
		<li><a href="/blog/category/${c.key.urlsafe()}">${c.name}</a></li>
		%endfor
		</ul>
		<hr/>
		<h4>Latest Entries</h4>
		<ul>
		% for e in e_list:
			<li><a href="/blog/${e.key.urlsafe()}">${e.title}</a></li>
		%endfor
	</div>
	<div class="ten columns">
		<article>
		<header>
		<div class="title"><h2>${entry.title}</h2></div>
			<p><strong>${entry.timestamp.strftime('%d %B %Y')}</strong></p>
		</header>
		<div class="content">
			${md_to_html(entry.content)}
		</div>
		<footer>
			<hr/>
		</footer>
		</article>
	</div>
</div>

<%include file="footer.html"/>
