<%!
from lib.markdown2 import markdown

def md_to_html(content):
	'''convert to html using markdown2'''
	if content: 
		content_html = markdown(content)
		return content_html
	else:
		return ''

def get_url(entry):
	'''returns the url of the entry'''
	d  = entry.timestamp
	return '%s/%s/%s/%s' % (d.year, d.month, d.day, entry.alias)
%>

<%inherit file="layout.html"/>
<%block name="stylesheets">
	<link href="/css/site.css" rel="stylesheet" />
</%block>

<%include file="header.html"/>
<div class="container" >
	<div class="four columns offset-by-one nav">
		<h4>Categories</h4>
		<nav>
			<ul>
			% for c in categories:
				<li><a href="/blog/category/${c.name}">${c.name}</a></li>
			% endfor
			</ul>
		</nav>
		<hr/>
		<h4>Latest Entries</h4>
		<ul>
			% for e in e_list:
			<li><a href="/blog/${get_url(e)}">${e.title}</a></li>
			% endfor
		</ul>
	</div>
	<div class="ten columns"> 
	% for e in entries:
		<article>
		<header> 
		<h2><a href="/blog/${get_url(e)}">${e.title}</a></h2>
		<p><strong>${e.timestamp.strftime('%d %B %Y')}</strong></p>
		</header>
		<div class="content">
			${md_to_html(e.intro)}
			...
		</div>
		<footer>
		<hr/>
		</footer>
	</article>
	% endfor
	</div>
</div>

<%include file="footer.html"/>
