<%inherit file="layout.html"/>
<%block name="javascript">
	data = ${posts_json};

	data = _.map(data, function(p){
			return jQuery.parseJSON(p);
		});

	Entry = Backbone.Model.extend({
		initiliaze: console.log('loaded!')
	});

	Entries = Backbone.Collection.extend({
		model: Entry
	});

	entryObj = new Entry(data);	
</%block>

<%include file="header.html"/>
<div class="container" >
	<div class="six columns nav">
		<input text></input>
		<nav>
			<ul>
				<li>one</li>
				<li>two</li>
				<li>three</li>
				<li>four</li>
				<li>five</li>
			</ul>
		</nav>
	</div>
	<div class="eight columns"> 
	% for p in posts:
		<article>
		<header> 
		<h2><a href="/blog/p/${p.key.urlsafe()}">${p.title}</a></h2>
		<h5><strong>${p.timestamp.strftime('%d %B %Y')}</strong></h5>
		</header>
		<div class="content">
			${p.content}
			</div>
			<footer>
			<hr/>
			</footer>
	</article>
	% endfor
</div>
</div>

<%include file="footer.html"/>
