<%inherit file="layout.html"/>
<%include file="header.html"/>
<div class="row">
	<div class="span10 offset2">
		<h1>LIST</h1>
	%if not categories is UNDEFINED:
		<h2>CATEGORIES</h2>
		<table class="table table-striped">
			<tr>
				<th>name</th>
				<th>description</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		%for c in categories:
			<tr>
				<td>${c.name}</td>
				<td>${c.description}</td>
				<td><a class="btn btn-mini btn-action" href="/blog/edit/${c.key.urlsafe()}">edit</a></td>
				<td><a class="btn btn-mini btn-action" href="/blog/delete/${c.key.urlsafe()}">delete</a></td>
		%endfor
			</table>	
	%elif not posts is UNDEFINED:
		<h2>POSTS</h2>	
		<table class="table table-striped">
			<tr>
				<th>published</th>
				<th>title</th>
				<th>created</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		% for p in posts:
			<tr>
			% if p.published:
				<td><input type="checkbox" name="published" value="${p.published}" checked="checked"></input></td>
			%else:
				<td><input type="checkbox" name="published" value="${p.published}"></input></td>
			%endif	
				<td>${p.title}</td>
				<td>${p.created}</td>
				<td><a class="btn btn-mini btn-action" href="/blog/edit/${p.key.urlsafe()}">edit</a></td>
				<td><a class="btn btn-mini btn-action" href="/blog/delete/${p.key.urlsafe()}">delete</a></td>
			</tr>
		% endfor
	</table>
	%endif
	</div>
</div>

<%include file="footer.html"/>
