<%inherit file="layout.html"/>
<%include file="header.html"/>
<div class="row">
	<div class="span12">
	%if not categories is UNDEFINED:
	<ul class="nav nav-tabs">
		<li>
			<a href="/blog/list/post">POSTS</a>
		</li>
		<li class="active">
			<a href="/blog/list/category">CATEGORIES</a>
		</li>
	</ul>
	<p><a class="btn btn-primary btn-large" href="/blog/create/category">CREATE</a></p>
		<table class="table table-striped">
			<tr>
				<th>name</th>
				<th>description</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		%for c in categories:
			<tr>
				<td>${c.name}</td>
				<td>${c.desc}</td>
				<td><a class="btn btn-mini btn-link" href="/blog/edit/${c.key.urlsafe()}">edit</a></td>
				<td><a class="btn btn-mini btn-danger" href="/blog/delete/${c.key.urlsafe()}">delete</a></td>
		%endfor
			</table>	
	%elif not posts is UNDEFINED:
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="/blog/list/post">POSTS</a>
		</li>
		<li> 
			<a href="/blog/list/category">CATEGORIES</a>
		</li>
	</ul>
	<p>	<a class="btn btn-primary btn-large" href="/blog/create/post">CREATE</a>
	</p>
		<table class="table table-striped">
			<tr>
				<th>published</th>
				<th>title</th>
				<th>created</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		% for p in posts:
			<tr>
			% if p.published:
				<td><input type="checkbox" name="published" value="${p.published}" checked="checked"></input></td>
			%else:
				<td><input type="checkbox" name="published" value="${p.published}"></input></td>
			%endif	
				<td>${p.title}</td>
				<td>${p.timestamp}</td>
				<td><a class="btn btn-mini btn-link" href="/blog/edit/${p.key.urlsafe()}">edit</a></td>
				<td><a class="btn btn-mini btn-danger" href="/blog/delete/${p.key.urlsafe()}">delete</a></td>
			</tr>
		% endfor
	</table>
	%endif
</div>

<%include file="footer.html"/>
