<%inherit file="layout.html"/>
<%block name="javascript">
<script type="javascript">
var text="";
$.get('/txt/blurb.md', function(data){
	$('#blurb').html(data);		

});
</script>
</%block>
<div id="site-content" class="row">
<div class="container">
	<div class="sixteen columns">
		<div class="row offset-by-two">
			<div id="blurb" class="six columns">
			</div>
		</div>
		<div class="row offset-by-two">
		<div class="six columns">
			<h3><a href="/blog">blog</a></h3>
			<p>Opinions, code, musings, reviews.</p>
		</div>
		<div class="six columns">
			<h3><a href="http://www.github.com/sw00">code</a></h3>
			<p>My GitHub account.</p>
		</div>
	</div>
		<div class="row offset-by-two">
		<div class="six columns">
			<h3><a href="http://flickr.com/settface">photos</a></h3>
			<p>My flickr account.</p>
		</div>
		<div class="six columns">
			<h3><a href="/social">social</a></h3>
			<p> Twitter, Google+, Last.fm</p>
		</div>
	</div>
	</div>
</div>
</div>

