$def with (self)
<section id="content">
<div class="row">
			<div class="span10">
		<h1>rigmarole soup</h1>
	</div>
</div>
	
<div class="row">
	<div class="span4">
		<img src="" class="img-roundeed" />
	</div>
	<div class="span10 pull-left">
		<ul class="thumbnails">
			<li class="span4">
			<div class="thumbnail">
				<h3><a href="/blog">blog</a></h3>
				<p>Lots of malarkey and opinions.</p>
			</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<h3><a href="http://www.github.com/sw00">code</a></h3>
					<p>My Github repositories.</p>
				</div>
				</li>
				<li class="span4">
				<div class="thumbnail">
					<h3><a href="http://flickr.com/settface">photos</a></h3>
					<p>My flickr</p>
				</div>
				</li>
				<li class="span4">
				<div class="thumbnail">
					<h3><a href="/social">social</a></h3>
					<p>Twitter, Facebook, Google+, Last.fm.</p>
				</div>
				</li>
		</ul>			
	</div>
</div>
</section>
<footer>
    $:template.footer()
</footer>
