<%inherit file="layout.html" />
<%block name="stylesheets">
	<link href="/css/admin.css" rel="stylesheet" />
</%block>
<div id="site-content" class="row">
<div class="row container">
	<div class="sixteen columns">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						thumbnail
					</th>
					<th>
						title
					</th>
					<th> 
						caption
					</th>
					<th>
						url
					</th>
					<th>
						delete
					</th>
				</tr>
			</thead>
			<tbody>
			%for i in images:
				<tr>
					<td>
						<img src="${i.url}" />	
					</td>
					<td>
						${i.title}
					</td>
					<td>
						${i.caption}
					</td>
					<td>
						${i.url}
					</td>
				</tr>
			%endfor
			</tbody>
		</table>
		<form action="${upload_url}" enctype="multi-part/formdata" method="post">
	<legend>Image List</legend>
	<table class="table table-striped">
		<tr>
			<td>Upload Image:</td>
			<td>
				<input type="file" name="file"><br> <input type="submit"
				            name="submit" value="Submit">
			</td>
	</table>
</form>
</div>
</div>
</div>

