<div id="header"> 
	<h1><a href="//rigmarolesoup.com">rigmarole soup</a></h1>
	<span id="social-media" >
		<a href="//twitter.com/settface" target="_blank"><img src="//rigmarolesoup.com/img/twitter.png" alt="twitter" title="twitter"/></a>		
		<a href="//plus.google.com/115572089303630606641" target="_blank"><img src="//rigmarolesoup.com/img/google.png" alt="google"  title="google plus"/></a>		
		<a href="//facebook.com/sett.wai" target="_blank"><img src="//rigmarolesoup.com/img/facebook.png" alt="facebook" title="facebook"/></a>
		<a href="//last.fm/user/animaphobiac" target="_blank"><img src="//rigmarolesoup.com/img/last.fm.png" alt="last.fm" title="last.fm"/></a>
		|
		<a href="//github.com/sw00" target="_blank"><img src="//rigmarolesoup.com/img/github.png" alt="github" title="github"/></a>
		<a href="//flickr.com/settface" target="_blank"><img src="//rigmarolesoup.com/img/flickr.png" alt="flickr" title="flickr"/></a>
	</span>
</div>
