<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<!-- Kill robots and webcrawlers(for now)
	================================================ -->
	<meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>rigmarolesoup</title>
	<meta name="description" content="">
	<meta name="author" content="Sett Wai">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="//rigmarolesoup.com/css/base.css">
	<link rel="stylesheet" href="//rigmarolesoup.com/css/skeleton.css">
	<link rel="stylesheet" href="//rigmarolesoup.com/css/layout.css">
	<link rel="stylesheet" href="//rigmarolesoup.com/css/site.css">
	<link rel="stylesheet" href="/css/blog.css">
  <%block name="stylesheets">
	</%block>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="//rigmarolesoup.com/img/favicon.ico">
	<link rel="apple-touch-icon" href="//rigmarolesoup.com/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//rigmarolesoup.com/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//rigmarolesoup.com/img/apple-touch-icon-114x114.png">

	<!-- Analytics
	================================================= -->
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-36854111-1']);
			  _gaq.push(['_setDomainName', 'rigmarolesoup.com']);
			    _gaq.push(['_trackPageview']);

				  (function() {
				       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
							     })();

							 </script>

</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
	<%include file="header.html"/>

	${self.body()}

	<%include file="footer.html"/>

	<!-- Scripts and Things
	================================================== 

	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">
		window._ || document.write('<script src="/static/js/underscore-min.js"><\/script>');
		window.Backbone || document.write('<script src="/static/js/backbone-min.js"><\/script>');
		window.jQuery || document.write('<script src="/static/js/jquery-1.8.2.min.js">');
	</script>
	================================================ -->
	<%block name="javascript">
	</%block>
<!-- End Document
================================================== -->
</body>
</html>
