<div id="footer">
	<div class="row container">
<div class="eight columns">
	<h3>About</h3>
	<p><strong>rigmarolesoup.com</strong> is the online real estate of Sett Wai, a carbon-based biped, living in Johanesburg, South Africa, Earth.</p>

	<p>Sett <strong>codes</strong>, <strong>writes</strong> and <strong>designs</strong> fairly competently. He will sometimes <a href="mailto:sett@rigmarolesoup.com">do them for money</a>. He is particularly adept at absorbing and applying new knowledge, so he can probably do many other things too.</p> 

	<p>Sett has a myriad of interests - and even more opinions. Some of the former go something like this: <em>python progamming, data-visualisation, game design, new media art, interaction design, photography, pop culture, film and music</em>. Most of the latter can be found at <a href="http://blog.rigmarolesoup.com">blog.rigmarolesoup.com</a> and sometimes at <a href="http://twitter.com/settface">twitter.com/settface</a>.</p>
</div>
	<div class="six columns offset-by-two">
		<blockquote>"A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly. Specialization is for insects." 			
		</blockquote>
			- <strong>Robert A. Heinlen</strong>, <em>Time Enough For Love</em>
</div>
</div>
<div class="row container">
	<hr/>
				<p style="text-align:center;">	View this site on <a href="http://github.com/sw00/rigmarolesoup">GitHub</a></p></div>
		</div>
</div>
