<%
	from google.appengine.api import users
	user = users.get_current_user()
%>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<a class="brand" href="#">rigmarolesoup</a>
          <div class="nav-collapse collapse">
			  <ul class="nav pull-right">
				% if user:
				<li><a href="${users.create_logout_url('/blog')}">logout</a></li>
				% else:
				<li><a href="${users.create_login_url('/blog/list')}">login</a></li>
				% endif
            </ul>
		</div><!--/.nav-collapse -->
	  </div>
      </div>
  </div>
